.uk-navbar-transparent {
    height: 25vh;
    background-image: url("../img/nav-banner4.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .a-tag {
        color: white;
        height: 25vh;
    }

    .a-tag:hover {
        color: #F012BE;
        text-shadow: 2px 2px 2px black;
    }
}

.profile {
    width: 70%;
}

#project-header {
    text-align: center;
}
.uk-card {
    border: 7px dotted tomato;
    margin: 5px;
    text-align: center;
    min-width: 350px;
}

.card-body {
    height: 30vh;
}

.uk-card-footer {
    height: 5vh;
}

.center {
    text-align: center;
}

body {
    height: 99vh;
}



.render-body {
    margin-bottom: 10vh;
}

.uk-tile {
    display: flex;
    min-height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;

    a {
        padding-top: 150px;
        color: white;
        text-shadow: 3px 3px 3px slategrey;
        font-size: 40px;
    }

    a:hover {
        text-decoration: none;
        /*color: #F012BE;*/
        color: #01FF70;
        text-shadow: 3px 3px 2px white;
    }
}

.margins {
    margin-bottom: 30px;

}

.uk-tile-one {
    background-image: url("../img/blob2.png");
}
.uk-tile-two {
    background-image: url("../img/blob5.png");
}
.uk-tile-three {
    background-image: url("../img/blob4.png");
}
.uk-tile-four {
    background-image: url("../img/blob3.png");
}

#personal {
    min-height: 500px;
    width: 93vw;
    background-color: tomato;
    margin-bottom: 30px;

    h2 {
        color: white;
        font-size: 50px;
        padding: 20px;
    }
}

#professional {
    min-height: 500px;
    width: 93vw;
    background-color: #99ccff;
    margin-bottom: 30px;
}

