@{
    ViewData["Title"] = "Alyssa Moody";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-container uk-flex">
    <div class="uk-inline uk-margin">
        <div>
            <img class="profile" src="~/img/me2.jpg" alt="me" />
        </div>

        <div class="uk-position-right uk-overlay uk-overlay-default uk-flex uk-flex-middle">
            <h1>ALYSSA</h1>
            <h1>MOODY</h1>
        </div>
    </div>
</div>