@{
    ViewData["Title"] = "Alyssa Moody";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-container uk-flex" id="home">
    <div id="home-image" class="uk-animation-slide-left">
        <img src="~/img/me3.jpg" alt="me" />
    </div>
    <div id="home-name" class="uk-animation-slide-right">
        <p><a href="/About">ALYSSA<br />
               MOODY'S<br />
               PORTFLIO</a></p>
        
    </div>
    
</div>