@{
    ViewData["Title"] = "Alyssa Moody";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-container uk-flex">
        <div>
            <img class="uk-border-circle" height="300" src="~/img/me2.jpg" alt="me" />
        </div>
    
</div>